input::-webkit-calendar-picker-indicator {
  display: none;
}

:root {
  --ft-sz: 32px;
  --main-wrap: 200px;
  --inner-wrap: 40px;
  --inner-top: 80px;
}

.mob-ban {
  display: none;
}

.hidden {
  display: none;
}
.footer-right {
  text-align: right;
  width: 100%;
}
.ob-pole {
  float: right;
  font-size: 17px;
  margin: -26px 0 0 0;
  color: white;
}

p.politics {
  font-size: 0.5rem;
  margin-bottom: 20px !important;
  color: #fff !important;
}

p.politics a {
  color: #fff !important;
}

.tab {
  display: block;
}

.mob {
  display: none;
}

sup {
  font-size: 0.5em;
  margin-left: 0.5em;
}

body {
  font-size: var(--ft-sz);
  line-height: 1.4em;
  font-family: "Circe", Arial, sans-serif, serif;
  color: #1c3968;
  background: #fff;
}
.title-form {
  text-align: center;
  width: 100%;
  margin-bottom: 1em;
  color: white;
}

.info img {
  max-width: 74%;
}

h2 {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

html {
  font-size: var(--ft-sz);
}

.wrapper {
  margin: 0 auto;
  position: relative;
  padding: 1px var(--main-wrap);
}

/*start*/
header {
  /*background: radial-gradient(rgb(143, 154, 183), rgb(76, 83, 116));*/
  /*background: radial-gradient(#2e4368, #2e4368);*/
  background: radial-gradient(#00505c, #00505c);
}

header .wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 1px;
}

.href-block__text {
  /*width: 811px;*/
  width: fit-content;
  margin: auto;
  border-bottom: 1px solid;
  border-bottom: 2px solid;
  color: #59aa47;
}

.href-block__text:hover {
  color: #59aa47d4;
}

.href-block:hover {
  text-decoration: none;
}

.href-block {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  text-align: center;
  /* width: 100%; */
  text-transform: uppercase;
}

.header_logo {
  margin-top: 50px;
  text-align: right;
  position: relative;
  width: 100%;
  right: 0px;
}

.head_txt {
  position: relative;
}

.head_txt .key {
  width: 100%;
}

.head_txt .car {
  width: 53%;
  position: absolute;
  left: 40%;
  top: 0;
}

#result {
  position: absolute;
  margin: -37px 0 8px 82px;
  font-size: 24px;
}
#result-avans {
  position: absolute;
  margin: -37px 0 8px 252px;
  font-size: 24px;
}

@media (max-width: 1000px) {
  .key,
  .car {
    display: none;
  }
}

.head_list {
  margin: 50px 0 65px 0;
  /* margin-top: 13vw; */
}

.head-list-item {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
}

.head-list-item:nth-of-type(2) {
  margin-top: 1rem;
}

.head_list img {
  width: 100px;
  height: 110px;
  margin-left: 0px;
}

.head_list p {
  font-size: 20px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  margin-left: 10px;
}

.head_list span {
  font-weight: 800;
}

.flex-container {
  color: #000000;
  font-size: 27px;
}

.flex-container span {
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px 0;
}

/*end*/
header img {
  display: block;
  width: 100%;
  margin-left: auto;
  height: auto;
}

.icons-container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
}

.icons-container h4 {
  font-size: 0.84rem;
  text-align: center;
  margin-top: 35px;
}

.icons-container div {
  width: 30%;
  max-width: 30%;
}

.icons-container img {
  width: 30%;
  max-width: 120px;
  max-height: 120px;
  display: block;
  margin: 0 auto;
}

#calculator {
  padding: 80px 40px;
  position: relative;
}

#calculator {
  border-top: 5px solid #59aa47;
  border-bottom: 5px solid #59aa47;
  padding: 80px 40px;
  margin: 50px 0 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#calculator h2 {
  font-size: 32px;
  margin-top: 0px;
}

#calculator .description {
  text-align: left;
  font-size: 0.37rem;
  position: absolute;
  line-height: 1.3em;
  right: 30px;
  bottom: 10px;
}

form {
  margin-top: -20px;
  align-self: flex-start;
  display: block;
  position: relative;
}

form input {
  box-shadow: 0px 0px 20px 3px rgba(79, 79, 79, 0.25);
  max-width: 370px;
  margin-left: 150px;
}

form input,
form select,
form option {
  height: 75px;
  border-radius: 5px;
  /*padding: 0.5rem 1rem;*/
  /*border: none;*/
  /*float: right;*/
  padding: 0 0 0 10px;
  border: none;
  float: right;
  box-shadow: 0px 0px 20px 5px rgba(79, 79, 79, 0.25);
}

form span {
  float: right;
  height: 100%;
}

form p {
  height: 75px;
  vertical-align: middle;
  position: relative;
  margin-bottom: 65px;
}

form label {
  margin-bottom: 0px;
  padding-top: 16px;
}

form input::-webkit-outer-spin-button,
form input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

form p.stavka {
  height: auto;
}

form p.stavka span,
form p.stavka label {
  padding-top: 0px;
  height: auto;
}

form p.stavka span {
  width: 340px;
  padding-left: 1rem;
}

form select {
  width: 370px;
}

form button {
  background: linear-gradient(180deg, #9cc93a, #5bab47);
  border-radius: 5px;
  color: #fff;
  padding: 0.5rem 5rem;
  border: none;
  display: block;
  margin: 0 auto;
  margin-top: 55px;
}

.percent-block {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  /*background: radial-gradient(rgb(143, 154, 183), rgb(76, 83, 116));*/
  background: radial-gradient(#00505c, #00505c);
  height: 700px;
  width: 360px;
  border-radius: 5px;
  color: #fff;
  padding: 40px 15px;
  position: relative;
}

.percent-block .circle-wrap {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  /*left: 40px;*/
  left: 0;
  transform: translateY(-50%);
}

.percent-block .circle-1,
.percent-block .circle-2,
.percent-block .circle-3 {
  position: relative;
  margin-top: 15px;
  text-align: center;
}

.percent-block .circle-1 {
  margin-top: 0px;
}

.percent-block span.number {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.percent-block i {
  font-size: 27px;
}

.percent-block span {
  font-size: 1rem;
  display: block;
  text-align: center;
  padding-top: 20px;
}

.percent-block canvas {
  margin: 0 auto;
  display: block;
}

.percent-block.mob {
  display: none;
}

footer {
  width: 100%;
  /*background: radial-gradient(#2e4368, #2e4368);*/
  background: radial-gradient(#00505c, #00505c);
  padding: 0px 0;
  padding-top: 80px;
}

footer .hidden {
  visibility: hidden;
}

footer form {
  display: block;
  position: relative;
  top: 20px;
  min-width: 60%;
}

footer form p {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}

footer form b {
  position: relative;
  display: inline-block;
  margin-left: 0px;
  width: auto;
  max-width: 40%;
}

footer form b input {
  width: 100%;
  margin-bottom: 0;
}

footer form input {
  display: inline-block;
  margin-left: 0px;
}

footer .flex-container {
  padding: 0 40px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}

footer .flex-container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.aun-class {
  /*-moz-appearance: none;*/
  /*-webkit-appearance: none;*/
  /*appearance: none;*/
}


 .caret {
  left: 12px;
}
 .filter-option {
  text-align: right;
}

.sele:before {
  /*position: absolute;*/
  /*content: "\003E";*/
  /*right: 13px;*/
  /*top: 32px;*/
  /*transform: rotate(90deg);*/
  /*font-size: 21px;*/
  /*z-index: 0;*/
  /*height: 0;*/
  /*width: 0;*/
}

footer .info {
  margin-right: 30px;
}

.text-icon-title, .text-icon-title1, .text-icon-title12 {
  text-decoration: underline;
  cursor: pointer;
}

.icons-container__description {
  text-align: center;
  display: none;
  font-size: 16px;
  line-height: normal;
  position: absolute;
  background-color: white;
  padding: 15px 23px;
  border: 2px solid #59aa47;
  border-radius: 9px;
}

.icons-container2 {
  border-bottom: 5px solid #59aa47;
  padding-bottom: 50px;
}
.icons-container__description1 {
  text-align: center;
  display: none;
  font-size: 16px;
  line-height: normal;
  position: absolute;
  background-color: white;
  padding: 15px 23px;
  border: 2px solid #59aa47;
  border-radius: 9px;
}

.block-text-right {
  font-size: 12px;
}

@media (min-width: 1000px) {
  :root {
    --ft-sz: 24px;
    --main-wrap: 30px;
  }

  .wrapper {
    margin: 0 auto;
    position: relative;
    padding: 1px var(--main-wrap);
  }

  header img {
    /*width: 500px;*/
  }

  .head_list img {
    width: 99px;
    height: 90px;
  }

  #calculator {
    padding: 80px 30px;
  }

  #calculator {
    padding: 140px 30px;
  }

  .percent-block {
    height: 600px;
    width: 300px;
  }

  form input,
  form select,
  form option {
    height: 55px;
  }

  form input {
    margin-left: 70px;
  }

  .percent-block span {
    padding-top: 10px;
  }

  form input,
  form select,
  form option,
  form p.stavka span {
    width: 200px;
  }

  form p {
    margin-bottom: 50px;
  }

  form button {
    margin-top: 55px;
    margin: 0 auto;
  }

  footer p {
    margin-bottom: 15px;
    padding-left: 1px;
  }

  footer button {
    margin-top: 60px;
  }

  .liscence {
    font-size: 0.25rem;
    line-height: 1.5em;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff !important;
    position: relative;
    bottom: 1vw;
    margin-top: 2rem;
    padding: 0 40px;
  }

  .liscence p {
    margin: 0px;
  }

  .icons-container {
    margin-top: 45px;
  }

  .icons-container h4 {
    margin-top: 15px;
  }

  #calculator {
    margin-top: 30px;
  }
  #calculator .description {
    bottom: 60px;
  }
}

@media (min-width: 1200px) {
  :root {
    --ft-sz: 24px;
    --main-wrap: 50px;
  }

  .wrapper {
    margin: 0 auto;
    position: relative;
    padding: 1px var(--main-wrap);
  }

  .icons-container {
    margin-top: 50px;
  }

  header img {
    /*width: 600px;*/
  }

  .head_list img {
    width: 99px;
    height: 90px;
  }

  .head_list {
    font-size: 21px;
    margin-left: 0px;
  }

  #calculator {
    padding: 80px 30px;
    padding-bottom: 145px;
  }

  .description {
    bottom: 0px;
  }
  .percent-block {
    height: 660px;
    width: 300px;
  }

  .percent-block span {
    /*padding-top: 10px;*/
    padding: 10px 5px;
  }

  form input {
    margin-left: 70px;
  }

  form input,
  form select,
  form option,
  form p.stavka span {
    width: 300px;
  }

  form p {
    margin-bottom: 45px;
  }

  form button {
    margin-top: 85px;
  }

  form input,
  form select,
  form option {
    height: 55px;
  }

  footer p {
    margin-bottom: 15px;
    padding-left: 1px;
  }

  footer button {
    margin-top: 60px;
  }
  #calculator .description {
    bottom: 70px;
  }
}

@media (min-width: 1400px) {
  :root {
    --ft-sz: 28px;
    --main-wrap: 100px;
  }

  html,
  body {
    font-size: 28px;
  }
  #calculator .description {
    bottom: 70px;
  }
  #calculator {
    padding: 80px 30px;
    padding-bottom: 140px;
  }

  .wrapper {
    margin: 0 auto;
    position: relative;
    padding: 1px 100px;
  }

  header img {
    /*width: 600px;*/
  }

  .icons-container {
    margin-top: 50px;
  }

  .head_list p {
    font-size: 24px;
  }

  .head_list img {
    width: 110px;
    height: 100px;
  }

  form input {
    margin-left: 70px;
  }

  form input,
  form select,
  form p.stavka span {
    width: 300px;
  }

  form p {
    margin-bottom: 45px;
  }

  form button {
    margin-top: 55px;
  }

  form input,
  form select,
  form option {
    height: 75px;
  }

  .percent-block {
    height: 670px;
    width: 330px;
  }

  footer {
    position: relative;
    bottom: 0;
  }

  footer p {
    margin-bottom: 40px;
    padding-left: 1px;
  }
}

.contact-form {
  margin-bottom: 20px;
}

.contact-form__submit-wrap {
  position: relative;
}

.contacts-form__status-message {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 103%;
  height: auto;
  padding-left: 0;
  margin-bottom: 0;
  font-size: 15px;
  line-height: 1em;
  text-align: center;
  color: red;
}

.contact-form__error {
  display: none;
  position: absolute;
  top: 110%;
  left: 20px;
  max-width: 100%;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1em;
  color: red;
  font-weight: normal;
}

.contact-form__mandatory {
  margin-bottom: 0;
  height: 40px;
  font-size: 17px;
  color: white;
}

.count-zayaz {
  border-bottom: 5px solid #59aa47;
  padding: 50px 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.count-zayaz__title {
  /*margin-left: 70px;*/
  font-size: 48px;
  padding-top: 11px;

}

.count-zayaz__count {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  font-size: 55px;
  margin-left: 120px;

}
.count-zayaz__count .num {
  border: 3px solid #35352f;
  padding: 8px 0 0;
  border-radius: 6px;
  min-width: 47px;
  text-align: center;
  color: #59aa47;
  margin: 0 3px;
  font-weight: 600;
  background-color: #fbfaf9;
}

.block-uird {
  margin: 50px 0;
}

.block-uird__img {
  text-align: center;
}

.block-uird__img img {
  width: 70%;
}

.block-uird__title {
  font-size: 48px;
  text-align: left;
  margin-bottom: 50px;
}

.block-uird__desc a:hover{
  color: #000000ab;
}

.block-uird__desc a{
  color: black;
  text-decoration: revert;
}
.block-uird__desc {
  text-align: justify;
  font-size: 31px;
  color: black;
  margin-top: 50px;
  line-height: 1.3em;
}

.block-uird__desc-text {
  font-weight: 300;
}

.block-uird__text-title {
  font-size: 35px;
  margin-left: 42px;
}

.block-uird__text-desc {
  font-size: 22px;
  line-height: normal;
}

.block-uird__icons-text-one {
  margin-bottom: 60px;
}

.block-uird__icons-text-one img{
  width: 90px;
}

.block-uird__text-desc a {
  color: rgb(28, 57, 104);
}






form .contact-form__check-box {
  line-height: 1;
  display: flex;
  margin-bottom: 0;
  margin-top: 40px;
}
form .contact-form__check-box input {
  height: 40px;
  width: 40px;
}

.flex-container .contact-form__data-title {
  width: calc(100% - 30px);
  color: white;
  font-weight: 200;
  text-transform: initial;
  font-size: 23px;
  padding: 0;
  margin-left: 20px;
}

.contact-form__check-box {
  cursor: pointer;
}



.contact-form__row2 {
  margin-bottom: 0;
}





.block1-itd td p{
  margin-bottom: 0;
}
.block1-itd td img {
  width: 108px;
}
.block1-itd td {
  vertical-align: middle;
}
.block1-itd .block-itd__title{
  font-size: 35px;
  text-transform: uppercase;
  margin-left: 20px;
}
.block-itd {
  padding: 60px 0;
  border-bottom: 5px solid #59aa47;
}

.block-itd .block-itd__descriptions{
  font-size: 22px;
  line-height: normal;
  margin-top: 20px;
}




@media (max-width: 1400px) {
  .contact-form__error {
    top: 85%;
  }
  .count-zayaz__title {
    /*margin-left: 30px;*/
    font-size: 30px;
  }
  .block-uird__title {
    font-size: 35px;
  }
}

@media (max-width: 1000px) {
  .contact-form__error {
    font-size: 17px;
    height: auto;
    margin-top: 5px;
  }
  .contact-form__error {
    position: static;
  }
  .count-zayaz__count {
    margin-left: 20px;
  }
  .count-zayaz__count {
    font-size: 26px;
  }
  .count-zayaz__title {
    /*margin-left: 10px;*/
    font-size: 22px;
  }
  .count-zayaz__count {
    margin-left: 20px;
  }
  .count-zayaz__count .num {
    padding: 5px 0 0;
    min-width: 32px;
  }
  .count-zayaz__title {
    padding-top: 7px;
  }
}

@media (min-width: 1000px) {
  .contact-form__mandatory {
    font-size: 21px;
    /*padding-left: 40px;*/
  }
}

.contact-form__item {
  height: auto !important;
}



@media (min-width: 1600px) {
  :root {
    --ft-sz: 32px;
    --main-wrap: 200px;
    --inner-wrap: 30px;
  }

  html,
  body {
    font-size: 32px;
  }

  #calculator {
    padding-bottom: 170px;
  }

  .wrapper {
    margin: 0 auto;
    position: relative;
    padding: 1px 200px;
  }

  header img {
    /*width: 700px;*/
  }

  .head_list p {
    font-size: 28px;
  }

  footer {
    position: relative;
    bottom: 0;
  }

  .percent-block {
    /*height: 640px;*/
    height: 1000px;
    width: 370px;
    padding: 40px 25px;
  }

  form button {
    margin-top: 55px;
  }
}

@media (min-width: 1600px) {
  .stavka span {
    padding-left: 1rem !important;
  }
}

@media (min-width: 1800px) {
  header img {
    /*width: 800px;*/
  }

  .head_list img {
    width: 120px;
    height: 110px;
  }

  .head_list p {
    font-size: 30px;
  }
}

/* Add Styles */
.error {
  color: red;
  font-size: 25px;
  padding-bottom: 0.5rem;
}

/* Add Styles */
@media (max-width: 1920px) {}
@media (max-width: 1900px) {
  .block-uird__title {
    font-size: 42px;
  }
}

@media (max-width: 1600px) {
  .href-block__text {
    /*width: 709px;*/
  }
}

@media (max-width: 1400px) {
}

@media (max-width: 1200px) {
}
@media (max-width: 800px) {
  .ob-pole {
    margin: 13px 0 0 0;
  }
  .href-block__text {
    /*width: 510px;*/
  }
}
@media (max-width: 600px) {
  .href-block__text {
    /*width: 100%;*/
  }
}

/*# sourceMappingURL=main.css.map */
